<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query</title>
</head>
<body>
    <h1>query</h1>
    <form action="/queryresult" method="POST">
        database_name: <input type="text" name="databasename"><br>
        collection_name: <input type="text" name="collectionname"><br>
        document_id: <input type="text" name="documentid"><br>
        field_name: <input type="text" name="fieldname"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>